{:up   ["CREATE TABLE generated_data (id SERIAL PRIMARY KEY, name TEXT, price integer, created_date timestamp without time ZONE, description text, in_stock BOOLEAN);"
        ;; "CREATE INDEX ON generated_data (id, created_date);"
        ]
 :down ["DROP TABLE generated_data;"]}
